!
!      XTERM RESOURCES
!      <URL:http://www.in-ulm.de/~mascheck/X11/XTerm>

! xterm*font: -*-lucidatypewriter-medium-*-*-*-12-*-*-*-*-*-iso8859-*
! xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
! xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
! xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
! xterm*font4: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
! xterm*font5: -*-lucidatypewriter-medium-*-*-*-18-*-*-*-*-*-*-*
! xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
! xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*


xterm*loginShell:               true
xterm*cursorColor:              blue
! blue => orange , magenta->green
xterm*metaSendsEscape:   true
xterm*eightBitInput:            false

xterm.vt100.reverseVideo:       false
!xterm.vt100.foreground:         yellow
!xterm.vt100.background:         black
xterm.vt100.saveLines:          1023
xterm.vt100.scrollBar:          false
xterm.vt100.deleteIsDEL:        true
xterm.vt100.visualBell:         true
xterm.vt100.popOnBell:          true

xterm*charClass: \
  33:48,36-38:48,43-47:48,58:48,61:48,63-64:48,126:48
!  !    $ % &    +,-./    :     =     ? @      ~


XTerm*VT100.Translations: #override \
~Shift <KeyPress> Help: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
Shift <KeyPress> Help: insert-selection(PRIMARY, CLIPBOARD,CUT_BUFFER0) \n\
~Ctrl ~Meta <Btn2Up>: insert-selection(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
 <BtnUp>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
Meta <Key> minus:           smaller-vt-font() \n\
Meta <Key> KP_Subtract:     smaller-vt-font() \n\
Meta <Key> plus:            larger-vt-font() \n\
Meta <Key> KP_Add:          larger-vt-font() \n

!select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\

!
!<Btn2Down>: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
!<KeyPress> Help: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
!Shift <KeyPress> Help: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
!



! default bindings in xterm-131
! to get an idea:
!
!	   Shift <KeyPress> Prior:scroll-back(1,halfpage) \n\
!	    Shift <KeyPress> Next:scroll-forw(1,halfpage) \n\
!	  Shift <KeyPress> Select:select-cursor-start() \
!				  select-cursor-end(PRIMARY, CUT_BUFFER0) \n\
!	  Shift <KeyPress> Insert:insert-selection(PRIMARY, CUT_BUFFER0) \n\
!
!		    ~Meta <KeyPress>:insert-seven-bit() \n\
!		     Meta <KeyPress>:insert-eight-bit() \n\
!		    !Ctrl <Btn1Down>:popup-menu(mainMenu) \n\
!	       !Lock Ctrl <Btn1Down>:popup-menu(mainMenu) \n\
!    !Lock Ctrl @Num_Lock <Btn1Down>:popup-menu(mainMenu) \n\
! 	 ! @Num_Lock Ctrl <Btn1Down>:popup-menu(mainMenu) \n\
!		    ~Meta <Btn1Down>:select-start() \n\
!		  ~Meta <Btn1Motion>:select-extend() \n\
!		    !Ctrl <Btn2Down>:popup-menu(vtMenu) \n\
!	       !Lock Ctrl <Btn2Down>:popup-menu(vtMenu) \n\
!    !Lock Ctrl @Num_Lock <Btn2Down>:popup-menu(vtMenu) \n\
!	 ! @Num_Lock Ctrl <Btn2Down>:popup-menu(vtMenu) \n\
!	      ~Ctrl ~Meta <Btn2Down>:ignore() \n\
!		     Meta <Btn2Down>:clear-saved-lines() \n\
!		~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
!		    !Ctrl <Btn3Down>:popup-menu(fontMenu) \n\
!	       !Lock Ctrl <Btn3Down>:popup-menu(fontMenu) \n\
!    !Lock Ctrl @Num_Lock <Btn3Down>:popup-menu(fontMenu) \n\
!	 ! @Num_Lock Ctrl <Btn3Down>:popup-menu(fontMenu) \n\
!	      ~Ctrl ~Meta <Btn3Down>:start-extend() \n\
!		  ~Meta <Btn3Motion>:select-extend() \n\
!		     Ctrl <Btn4Down>:scroll-back(1,halfpage,m) \n\
!		Lock Ctrl <Btn4Down>:scroll-back(1,halfpage,m) \n\
!     Lock @Num_Lock Ctrl <Btn4Down>:scroll-back(1,halfpage,m) \n\
!	   @Num_Lock Ctrl <Btn4Down>:scroll-back(1,halfpage,m) \n\
!			  <Btn4Down>:scroll-back(5,line,m)     \n\
!		     Ctrl <Btn5Down>:scroll-forw(1,halfpage,m) \n\
!		Lock Ctrl <Btn5Down>:scroll-forw(1,halfpage,m) \n\
!     Lock @Num_Lock Ctrl <Btn5Down>:scroll-forw(1,halfpage,m) \n\
!	   @Num_Lock Ctrl <Btn5Down>:scroll-forw(1,halfpage,m) \n\
!			  <Btn5Down>:scroll-forw(5,line,m)     \n\
!			     <BtnUp>:select-end(PRIMARY, CUT_BUFFER0) \n\
!			   <BtnDown>:bell(0)
!------------------------------------------------------------
